.picture {
    border-width: 2px;
    border-color: black;
}

.title {
    color: lightgrey;
    font-size: 22px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.desc {
    color: whitesmoke;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 0;
    text-align: center;
}

.button {
    background-color: #41DC8E;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 25px;
}

.spec {
    background-color: #41DC8E;
}